@import url(
    'https://fonts.googleapis.com/css2?family=Roboto&display=swap'
);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.5rem;
    font-family: 'Robot', sans-serif;
}

article {
    justify-content: center;
    text-align: right;
    padding: 10rem;
    margin: 10rem;
    border: 0.5rem solid #000;
    border-radius: 20px;
    min-width: 30rem;    
    max-width: 50rem;
}

p {
    margin: 1rem;
}

#time {
    font-size: 4rem;
}

#timezone, #date {
    color: #9f9f9f;
}